<div class="detail-retailer">
  <h3>Thông tin chi tiết:</h3>
  <div class="content d-flex" *ngIf="!editMode">
    <div class="left-content">
      <div class="detail-row d-flex">
        <div>Ngành hàng:</div>
        <div>{{retailer.IndustryName}}</div>
      </div>
      <div class="detail-row d-flex">
        <div>Địa chỉ:</div>
        <div>{{retailer.AddressName}}</div>
      </div>
      <div class="detail-row d-flex">
        <div>Tên:</div>
        <div>{{retailer.Name}}</div>
      </div>
      <div class="detail-row "></div>
      <div class="detail-row "></div>
    </div>
    <div class="right-content">
      <div class="detail-row d-flex">
        <div>Ngày hết hạn hợp đồng:</div>
        <div>{{retailer.ExpiryDate}}</div>
      </div>
    </div>
  </div>

  <div class="content d-flex" *ngIf="editMode">
    <div class="left-content">
      <div class="detail-row d-flex">
        <div>Ngành hàng:</div>
        <div style="width: 200px;"><kendo-dropdownlist #industryRetailer [data]="industryList" textField="Name"
            valueField="KvId" [(ngModel)]="retailer.IndustryId" [valuePrimitive]="true">
          </kendo-dropdownlist></div>
      </div>
      <div class="detail-row d-flex">
        <div>Địa chỉ:</div>
        <div style="width: 200px;"><kendo-dropdownlist #addressRetailer [data]="addressList" textField="Name"
          valueField="KvId" [(ngModel)]="retailer.AddressId" [valuePrimitive]="true"></kendo-dropdownlist></div>
      </div>
      <div class="detail-row d-flex">
        <div>Tên:</div>
        <div><input type="text" [(ngModel)]="retailer.Name"></div>
      </div>
      <div class="detail-row "></div>
      <div class="detail-row "></div>
    </div>
    <div class="right-content">
      <div class="detail-row d-flex">
        <div>Ngày hết hạn hợp đồng:</div>
        <div><kendo-datetimepicker [format]="formatDate" [(value)]="retailer.ExpiryDate" placeholder="Chọn ngày hết hạn"></kendo-datetimepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="action">
    <button kendoButton (click)="editRetailer()" *ngIf="!editMode">Sửa</button>
    <button kendoButton (click)="deleteRetailer()" *ngIf="!editMode">Xóa</button>

    <button kendoButton (click)="save()" *ngIf="editMode">Lưu</button>
    <button kendoButton (click)="cancel()" *ngIf="editMode">Hủy</button>
  </div>
</div>
