<div class="qr-header">
  <div class="d-flex justify-content-between">
    <div class="logo d-flex align-items-center">
      <img src="logo.png" alt="" style="width: 60px;height: 60px;border-radius: 8px;">
      <h2 class="ms-3">Quản lý KiotQR</h2>
    </div>
    <div class="navigation">
      <div>
        <span (click)="onToggle()" class="qr-btn qr-btn-gray qr-btn-icon-only"
              [popover]="popTemplate"
              placement="bottom left"
              containerClass="popover-no-arrow popover-dropdown"
              container="body"
              [outsideClick]="true">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </span>
<!--        <kendo-popup [anchor]="anchorMenu" *ngIf="isShowMenu" class="cursor-pointer">-->
<!--          <kendo-card class="content">-->
<!--            <kendo-card-header>-->
<!--              <div class="d-flex">{{username}} - {{role}}</div>-->
<!--            </kendo-card-header>-->
<!--            <kendo-card-footer>-->
<!--              <button (click)="logout()">Đăng xuất</button>-->
<!--            </kendo-card-footer>-->
<!--          </kendo-card>-->
<!--        </kendo-popup>-->
      </div>
    </div>
  </div>
</div>

<ng-template #popTemplate>
  <div class="popover-dropdown-item">{{username}} - {{role}}</div>
  <div (click)="logout()" class="popover-dropdown-item">Đăng xuất</div>
</ng-template>

<div class="qr-wrapper">
  <div class="d-flex align-items-center">
    <h2 class="flex-1">Danh sách gian hàng:</h2>
    <div class="d-flex qr-width-300">
      <input placeholder="Lọc theo tên hoặc số điện thoại" [(ngModel)]="textSearch" (ngModelChange)="textSearchChange()" class="qr-form-control"/>
      <span (click)="reloadGrid()" class="qr-btn qr-btn-gray qr-btn-icon-only"><i class="fa-regular fa-rotate-reverse"></i></span>
    </div>
  </div>
  <kendo-grid #retailerGrid [data]="gridData" [pageable]="{buttonCount: buttonCount, pageSizes: sizes}"
    [selectable]="selectableSettings" [pageSize]="pageSize" [navigable]="true" [skip]="skip" class="qr-grid mt-24"
    (pageChange)="pageChange($event)" [loading]="isLoading" (cellClick)="onCellClick($event)">
      <!-- <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column> -->
      <kendo-grid-column field="NumberOrder" title="STT" [headerClass]="'cell-stt'" [class]="'cell-stt'"></kendo-grid-column>
      <kendo-grid-column field="Name" title="Tên" [headerClass]="'cell-auto'" [class]="'cell-auto'"></kendo-grid-column>
      <kendo-grid-column field="PhoneNumber" title="Số điện thoại" [headerClass]="'cell-phone'" [class]="'cell-phone'"></kendo-grid-column>
      <kendo-grid-column field="IsActive" title="Trạng thái hoạt động" [headerClass]="'cell-status-action'" [class]="'cell-status-action'"></kendo-grid-column>
      <kendo-grid-column field="DisplayContractDate" title="Ngày bắt đầu hợp đồng" [headerClass]="'cell-datetime'" [class]="'cell-datetime'"></kendo-grid-column>
      <kendo-grid-column field="DisplayExpiryDate" title="Ngày hết hạn hợp đồng" [headerClass]="'cell-datetime'" [class]="'cell-datetime'"></kendo-grid-column>
      <!-- <kendo-grid-column  title="Action">
        <ng-template kendoGridCellTemplate let-dataItem="item">
          <button (click)="editCellData(dataItem)">Sửa</button>
          <button (click)="deleteCellData(dataItem)">Xóa</button>
        </ng-template>
      </kendo-grid-column> -->
      <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
        <div class="k-pager-info k-label">
          Trang {{currentPage}} trên tổng số {{totalPages}}
        </div>
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
<!--        <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>-->
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
<!--        <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>-->
      </ng-template>
      <div *kendoGridDetailTemplate="let dataItem">
        <detail-retailer [retailer]="dataItem" (reloadGrid)="reloadGrid()"></detail-retailer>
      </div>
    </kendo-grid>
</div>
